* {
    box-sizing: border-box;
    font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif ;
    color: white;
}

body {
    background-color: #0d1117;
    display: flex;
    justify-content: center;
}

.navbar {
    background-color: #0d1117;
    height: 50px;
    color: white;
    /* padding-left: 80px;
    margin-left: 50px; */
    display: flex;
    justify-content: center;
    align-items: center;
    


}

.navbar span {
    font-size: 20px;
    padding: 10px;
    font-weight: 500;
}

.navbar a {
    text-decoration: none;
    color: #9ba3b4;
    font-size: 15px;


}

li {
    list-style: none;
    justify-content: center;
    display: inline;
    padding: 20px;
    font-weight: 500;
    font-size: larger;

}

a:hover {
    color: white;
    transition: 1s ease-in;
}

.icon {
    width: 30px;
    height: 30px;
    padding-top: 5px;

}
.button{
    color:rgb(255, 249, 249);
    background-color: #058cf3;
    border-radius: 7px;
    height: 30px;
    width: 100px;
    font-weight: bold;
    border: none;
    margin-left: 20px;
}
.input{
    background-color: #0d1117;
    border: 2px solid grey;
    border-radius: 3px;
    width: 200px;
    

}


div a{
    color: #058cf3;
    font-size: medium;
    
    
}
.version p{
    display: flex;
    justify-content: center;
    color: #9ba3b4;
    font-size: medium;
    font-weight: 400;
}
h1{
    font-size: 50px;
    justify-content: center;
    display: flex;
}
p{
    color: #9ba3b4;
    display: flex;
    justify-content: center;
    font-size:  25px;
    font-weight: 700;

}
.download-btn{
    color:rgb(255, 249, 249);
    background-color: #058cf3;
    border-radius: 7px;
    height: 50px;
    width: 250px;
    font-weight: bold;
    border: none;
    margin-left: 20px;
   
    

}
.trygithub-btn{
    color:rgb(255, 249, 249);
    background-color:#1d232b ;
    border-radius: 7px;
    height: 50px;
    width: 250px;
    font-weight: bold;
    border: none;
    margin-left: 20px;
    
}
.buttons{
    display: flex;
    justify-content: center;
}